.addingConfirmation h2 {
    text-align: center;
    color: #5C9210;
    margin-bottom: 20px;
}

.addingConfirmation p:first-of-type {
    margin-bottom: 10px;
}

.addingConfirmation>* {
    margin-bottom: 5px;
}

.addingConfirmation li {
    margin-left: 20px;
}

.addingConfirmation ul {
    list-style: square inside;
}

.addingConfirmation .btns {
    display: flex;
    justify-content: center;
}