.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 90;
    padding: 0 20px;
    background-color: #703B09;
}

.toolbar nav {
    position: relative;
    display:none;
    height: 100%;
}
@media (min-width:768px){
    .toolbar nav {
        display:block;
    }
}