.modal {
    position: fixed;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    z-index: 500;
    width: 300px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    transition: all 0.3s ease-out;
}

@media (min-width: 576px) {
    .modal {
        width: 500px;
        padding: 30px;
        left: calc(50% - 250px);
    }
}