.btn {
    margin: 20px 0;
    background-color: #703B09;
    color: white;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .3s ease-in-out, transform .2s ease-out;
}

.lg {
    font-size: 18px;
    padding: 10px 20px;
}

.sm {
    font-size: 14px;
    padding: 7px 14px;
}

@media (min-width:1200px) {
    .btn:hover {
        background-color: #40a4c8;
    }
}

.btn:active {
    transform: scale(1.1);
}