.btn {
    display: inline-block;
    position: relative;
    height: 36px;
    line-height: 36px;
    margin: 20px;
    padding: 0 16px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: #703B09;
    color: white;
    text-transform: uppercase;
    letter-spacing: .5px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12),
        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow .3s ease-in-out;
}

.btn.danger {
    background-color: #dc3545;
}

.btn.success {
    background-color: #28a745;
}

.btn.secondary {
    background-color: #40a4c8;
}
.btn.dark {
    background-color: #412205;
}

.btn.gradient {
    background: linear-gradient(45deg, #e67912, #582f07);
}

.btn.disabled {
    background-color: #777;
    cursor: not-allowed;
}

.btn.circular {
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    font-size: 20px;
    border-radius: 50%;
}
.btn.noMarginTop{
    margin-top: 0;
}

.btn:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(31, 30, 30, 0.3);
}
.btn .wave{
    position: absolute;
    width: 500px;
    height: 500px;
    margin: -250px 0 0 -250px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255);
    opacity: 0.5;
    animation: scale linear .6s;
    transform-origin: center;
    transform: scale(0);
    z-index:1;
    pointer-events: none;
}
.btn.circular .wave {
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    animation-duration: .4s;
}

@keyframes scale {
    to {
        transform: scale(1);
        opacity: 0;
    }
}