.about {
    color: white;
    background: linear-gradient(#e67912, #291603);
    transform-origin: left;
}

.about h2 {
    padding-bottom: 15px;
    font-size: 36px;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-align: center;
}

.about h3 {
    padding: 0 5vmax;
}

.about p {
    padding: 15px 5vmax 30px;
    text-align: justify;
}

.about svg {
    display: block;
}

@media (min-width:768px) {
    .about h2 {
        font-size: 44px;
    }
}