.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.errorMessage{
    margin-top: 5px;
    text-align: left;
    font-size: 10px;
    color: #777;
}

.label {
    font-weight: bold;
    text-align: left;
    margin-bottom: 8px;
}

.inputElement {
    outline:none;
    border: 1px solid #ccc;
    background-color: #fff;
    font: inherit;
    padding: 6px 10px;
}
.inputElement:focus{
    outline: none;
    background-color: #ccc;
}