.slimButton {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    margin: 10px;
    font-weight: bold;
}

.slimButton:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.success {
    color: #5C9210;
}

.danger {
    color: #944317;
}

.neutral {
    color: #40a4c8;
}

.primary {
    color: #703B09;
}

@media (min-width:576px) {
    .slimButton {
        font-size: 20px;
    }
}