.wrapper{
    text-align: center;
    padding: 40px 10px 20px;
}
.pageHeading{
    display: inline-block;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: .5px;
    background: linear-gradient(45deg, #e67912, #582f07);
    background-clip: text;
    -webkit-text-fill-color:transparent;
}
@media (min-width:768px){
    .pageHeading{
        font-size: 50px;
    }
}