.burgerCard{
    display: flex;
}
.burgerCard h2 {
    margin: 20px 0 0;
}

.burgerCard .price {
    margin-top: 20px;
    font-size: 20px;
}

.burgerCard .menuBtns {
    display: flex;
    justify-content: space-evenly;
}

.menuItem .burgerWrapper,
.cartItem .burgerWrapper {
    width: 280px;
    height: 250px;
    margin: 0 auto;
    overflow: auto;
}

.menuItem .description {
    font-family: 'Great Vibes', cursive;
    font-size: 24px;
    padding: 30px 10px 20px;
}

.menuItem .ingredients p {
    display: inline-block;
    position: relative;
    font-size: 18px;
    padding-bottom: 3px;
}

.menuItem .ingredients p::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 3px;
    background: linear-gradient(45deg, #e67912, #582f07);
}

.menuItem .ingredients ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}

.menuItem .ingredients li {
    padding: 5px;
}

.menuItem .ingredients svg {
    margin: 0 5px 0 0;
    color: #703B09;
}

@media (min-width:576px) {
    .menuItem .burgerWrapper {
        width: 400px;
        height: 340px;
    }
}

@media (min-width:992px) {
    .menuItem .description {
        font-size: 26px;
    }
}