*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}
ul{
  list-style:none;
}
.success {
  color: #5C9210;
}

.danger {
  color: #944317;
}

.neutral {
  color: #40a4c8;
}

.primary {
  color: #703B09;
}