@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

.primary {
  color: #703B09;
}

.secondary {
  color: #40a4c8;
}

.dark {
  color: #412205;
}

.success {
  color: #28a745;
}

.danger {
  color: #dc3545;
}

.bold {
  font-weight: 700;
}
.info {
  text-align: center;
  padding: 20px;
  width: 100%;
}