.buildControls {
    background-color: #CF8F2E;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    padding: 10px 0;
    flex-shrink: 0;
}

.buildControls p {
    line-height: 250%;
}

@media (min-width:768px) {
    .buildControls {
        width: 260px;
        justify-content: center;
        order: -1;
        height: 100%;
    }
}