/*!
// CSS only Responsive Tables
// http://dbushell.com/2016/03/04/css-only-responsive-tables/
// by David Bushell
*/

.orderTable {
    display: inline-block;
    margin:0 auto;
    vertical-align: top;
    max-width: 90%;
    max-height: 80vh;
    overflow: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-overflow-scrolling: touch;
    
    /* scrolling shadows */
    background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center,
                radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
    background-size: 10px 100%, 10px 100%;
    background-attachment: scroll, scroll;
    background-repeat: no-repeat;
  }
  
  /* change these gradients from white to your background colour if it differs
  gradient on the first cells to hide the left shadow */
  .orderTable td:first-child{
    background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-repeat: no-repeat;
    background-size: 20px 100%;
  }
  
  /* gradient on the last cells to hide the right shadow */
  .orderTable td:last-child {
    background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 20px 100%;
  }
  
  .orderTable th,
  .orderTable td {
    padding: 6px 12px;
    border: 1px solid #d9d7ce;
  }
  .orderTable th {
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
    background: #703B09;
    color:white;
    border: 1px solid transparent;
  }
  